@{
  Layout = "_Layout";
}

@model Yelp.Models.Restaurant

<h4>Add a new task</h4>

@using (Html.BeginForm())
{
    <p>Type of Cuisine</p>
    @Html.DropDownList("CuisineId")
    <p>Resturant Name</p>
    @Html.TextBoxFor(model => model.Description)
    <p>image Link of Resturant</p>
    @Html.TextBoxFor(model => model.Image)
    <p>Address of Resturant</p>
    @Html.TextBoxFor(model => model.Address)
 
    <br>
    <br>

    <input type="submit" value="Add new restaurant" class="btn btn-default" />
}
<br>
<Button>@Html.ActionLink("Show all restaurants", "Index")</Button>