@{
  Layout = "_Layout";
}

@using Yelp.Models;
@model Yelp.Models.Restaurant;
<h2>@Html.DisplayFor(model => model.Description)</h2>
<h3>@Html.DisplayFor(model => model.Address)</h3>

<img src="@Html.DisplayFor(model => model.Image)" height="50%" width="50%"/>

<ul>
@if (@Model.Reviews.Count == 0)
{
  <p>no Reviews found</p>
}
<hr>
<p style="font-size:20px; margin-left:-40px">Reviews for this restaurant</p>

@foreach (Review review in @Model.Reviews)
{
  <li>"@review.Description"</li>
  <small> @review.UserName</small>
}
</ul>
<hr>

<Button>@Html.ActionLink("Back to list", "Index")</Button>
<Button>@Html.ActionLink("Edit Restaurant", "Edit", new { id = Model.RestaurantId })</button>
<Button>@Html.ActionLink("Delete Restaurant", "Delete", new { id = Model.RestaurantId })</Button>
<Button>@Html.ActionLink("Add new review", "Create","Reviews")</button>
