@{
  Layout = "_Layout";
}

@model Yelp.Models.Restaurant

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RestaurantId)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.LabelFor(model => model.Cuisine)
    @Html.DropDownList("CuisineId")

    <input type="submit" value="Save" />
}
<br>
<Button>@Html.ActionLink("Back to list", "Index")</Button>