@{
  Layout = "_Layout";
}

@model Yelp.Models.Restaurant

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RestaurantId)
    
    <p>Type of Cuisine</p>
    @Html.DropDownList("CuisineId")
    <p>Resturant Name</p>
    @Html.EditorFor(model => model.Description)
    <p>image Link of Resturant</p>
    @Html.EditorFor(model => model.Image)
    <p>Address of Resturant</p>
    @Html.EditorFor(model => model.Address)

    @Html.LabelFor(model => model.Cuisine)
    @Html.DropDownList("CuisineId")

    <input type="submit" value="Save" />
}
<br>
<Button>@Html.ActionLink("Back to list", "Index")</Button>